.center {
    text-align: center;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.form-position {
    float: right;
    position: relative;
    right: 50%;
    text-align: left;
}
.content-preview {

}